* {
  box-sizing: border-box;
}

body {
  background-color: rgb(168, 168, 168);
}

header {
  display: flex;
  align-items: center;
  flex-direction: row;
  background-color: dimgray;
  padding: 10px;
}

header h1 {
  font-size: 20px;
  width: 250px;
  margin-left: 20px;
  text-align: center;
  padding: 5px;
  background-color: rgb(43, 221, 221);
}

header nav {
  margin-left: 60%;
}

header nav a {
  text-decoration: underline;
  color: cornsilk; 
  font-size: 15px;
  justify-content: space-between;
  /* padding: 0px 10px; */
}

.hero-banner {
  width: 100%;
  height: 250px;
  background-image: url("../images/02-hero-bg.jpg");
  justify-content: flex-end;
  align-items: flex-end;
  display: flex;
  background-size: cover;
  background-repeat: no-repeat;
}

.hero-banner div h2 {
  color: rgb(107, 107, 107);
  margin: 20px;
  font-size: 20px;
  background-color:rgb(43, 221, 221);
}

#about p {
  font-size: 20px;
}

.page-wrapper {
  display: flex;
  flex-direction: column;
}

.page-section {
  margin: 20px;
  display: flex;
  flex-flow: space-around;
}

.section-title {
  border-right: 3px solid rgb(121, 121, 121);
  width: 25%;
  padding-right: 10px;
  margin: 5px;
  text-align: right;
}

.section-title, a {
  color: rgb(68, 67, 67);
  font-size: 30px;
}

/* .section-content {
  width: 70%;
  /* padding-left: 50px;
  margin: 5px 5px; 
}

/* .section-content a {
  text-decoration: none;
} */

.aboutMe {
  width: 70%;
  padding-right: 10px;
  margin: 5px;
  text-align: right;
}



body {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

h3 {
  font-size: 30px;
  align-items: center;
  justify-content: center;
}
p {
  margin: 0;
}

.project-one:hover {
  box-shadow: none;
  transform: translateY(5px);
}

.project-two:hover {
  box-shadow: none;
  transform: translateY(5px);
}

.project-three:hover {
  box-shadow: none;
  transform: translateY(5px);
}

.project-four:hover {
  box-shadow: none;
  transform: translateY(5px);
}

.project-five:hover {
  box-shadow: none;
  transform: translateY(5px);
}

.project-one, 
.project-two,
.project-three,
.project-four,
.project-five {
  border: solid 5px aqua;
  /* border-radius: 20px; */
  margin: 20px 0px;
}

.social {
  font-size: 2rem;
  justify-content: space-evenly;
  /* padding: 0px 10px; */
  flex-direction: row;
  display: flex;
  /* flex: 75%; */
  margin-left: 100px;
}

.section-content {
  display: grid;
  grid-template-columns: 250px 500px;
  grid-auto-rows: 400px;
  grid-gap: 20px;
  grid-template-areas: 
  'header header'
  'sidebar content'
  'sidebar content';
  justify-content: center;
  margin-left: 80px;
}

.project-one {
  grid-area: header;
  background-image: url(/images/02-portfolio-1.jpg);
}

.project-two {
  grid-area: sidebar;
  background-image: url(/images/02-portfolio-2.jpg);
}

.project-three {
  grid-area: content;
  background-image: url(/images/02-portfolio-3.jpg);
}

.project-four {
  background-image: url(/images/02-portfolio-4.jpg);
}

.project-five {
  background-image: url(/images/02-run-buddy.jpg);
}

#firstProject {
  grid-area: firstProject;
  /* background-image: url(../images/02-portfolio-1.jpg); */
  background-color: aqua;
  width: 100px;
  background-size: cover;
  background-position: top;
}

#secondProject {
  grid-area: firstProject;
  /* background-image: url(../images/02-portfolio-2.jpg); */
  background-color: aqua;
  width: 150px;
  background-size: cover;
  background-position: top;
}

#thirdProject {
  grid-area: firstProject;
  /* background-image: url(../images/02-portfolio-3.jpg); */
  background-color: aqua;
  width: 100px;
  background-size: cover;
  background-position: top;
}

#fourthProject {
  grid-area: firstProject;
  /* background-image: url(../images/02-portfolio-4.jpg); */
  background-color: aqua;
  width: 100px;
  background-size: cover;
  background-position: top;
}

#fifthProject {
  grid-area: firstProject;
  /* background-image: url(../images/02-run-buddy.jpg); */
  background-color: aqua;
  width: 100px;
  background-size: cover;
  background-position: top;
}

