* {
  box-sizing: border-box;
}

header {
  display: flex;
  align-items: center;
  flex-direction: row;
  background-color: dimgray;
  padding: 10px;
}

header h1 {
  width: 250px;
  margin-left: 20px;
  text-align: center;
  padding: 5px;
  background-color: aqua;
}

header nav {
  margin-left: 60%;
}

header nav a {
  text-decoration: none;
  color: cornsilk;
  font-size: 2rem;
  justify-content: space-between;
  padding: 0px 10px;
}

.hero-banner {
  width: 100%;
  height: 250px;
  background-image: url("../images/02-hero-bg.jpg");
  justify-content: flex-end;
  align-items: flex-end;
  display: flex;
  background-size: cover;
  background-repeat: no-repeat;
}

.hero-banner div h2 {
  color: rgb(107, 107, 107);
  margin: 20px;
  font-size: 30px;
  background-color: aqua;
}

#about p {
  font-size: 30px;
}

.page-wrapper {
  display: flex;
  flex-direction: column;
}

.page-section {
  margin: 20px;
  display: flex;
  flex-flow: space-around;
}

.section-title {
  border-right: 3px solid rgb(121, 121, 121);
  width: 25%;
  padding-right: 10px;
  margin: 5px;
  text-align: right;
}

.section-title, a {
  color: rgb(68, 67, 67);
  font-size: 40px;
}

.section-content {
  width: 70%;
  padding-left: 50px;
  margin: 5px 5px;
}

.section-content a {
  text-decoration: none;
}



body {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

.project-one:hover {
  box-shadow: none;
  transform: translateY(5px);
}

.project-two:hover {
  box-shadow: none;
  transform: translateY(5px);
}

.project-three:hover {
  box-shadow: none;
  transform: translateY(5px);
}

.project-four:hover {
  box-shadow: none;
  transform: translateY(5px);
}

.project-five:hover {
  box-shadow: none;
  transform: translateY(5px);
}

.project-one, 
.project-two,
.project-three,
.project-four,
.project-five {
  border: solid 5px aqua;
  border-radius: 20px;
  margin: 20px 0px;
}

.socialLinks {
  text-decoration: underline;
  font-size: 2rem;
  justify-content: space-evenly;
  padding: 0px 10px;
  flex-direction: row;
  display: flex;
  flex: 75%;
}